@import "tailwindcss";

/* Restore list styles that Tailwind's preflight removes */
.sl-markdown-content ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

.sl-markdown-content ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}

.sl-markdown-content li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
