---
import DeploymentArchitecturesTableView from '../../../components/DeploymentArchitecturesTableView';
import '../../../styles/global.css';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deployment / Safety Architectures</title>
  </head>
  <body>
    <DeploymentArchitecturesTableView client:load />
  </body>
</html>
