---
import SafetyGeneralizabilityGraphView from '../../../../components/SafetyGeneralizabilityGraphView';
import '../../../../styles/global.css';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Safety Research Generalizability - Graph View</title>
  </head>
  <body>
    <SafetyGeneralizabilityGraphView client:load />
  </body>
</html>
